.message_content {
  font-family: Slack-Lato,appleLogo,sans-serif !important;
}

.bot .message_content {
  font-weight: normal !important;
}

code, pre.special_formatting {
  font-size: .65rem
}

ts-message .member_image {
  transform: inherit;
}
